body {
  background-color: white;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: space-between;
}

.result-screen {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 75px;
  justify-content: right;
  color: white;
  background-color:black;
  font-family: monospace;
  font-size: large;
}

.c {
height: 100px;
width: 200px;;
}

.left-arrow {
height: 100px;
width: 100px;
}

.division {
  height: 100px;
  width: 100px;
  background-color: orange;
  color: white;
}

.seven {
  height: 100px;
  width: 100px;
}

.eight {
  height: 100px;
  width: 100px;
}

.nine {
  height: 100px;
  width: 100px;
}

.multi {
  height: 100px;
  width: 100px;
  background-color: orange;
  color: white
}

.four {
  height: 100px;
  width: 100px;
}

.five {
  height: 100px;
  width: 100px;
}

.six {
  height: 100px;
  width: 100px;
}

.minus {
  height: 100px;
  width: 100px;
  background-color:orange;
  color: white;
}

.one {
  height: 100px;
  width: 100px;
}

.two {
  height: 100px;
  width: 100px;
}

.three {
  height: 100px;
  width: 100px;
}

.plus {
  height: 100px;
  width: 100px;
  background-color:orange;
  color:white
}

.zero {
  height: 100px;
  width: 300px;
}

.equals {
  height: 100px;
  width: 100px;
  background-color:orange;
  color:white
}
